{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>{{ landing_page_content }}</h1>
            <h2>{{ greeting }}</h2>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-submit mt-5" style="border: 1px;">Submit</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <hr style="border-color:red;" name="garis">
            {% for x in status %}
                <ul>
                    <div class="m-3 p-3 bg-info border border-primary">
                        <h5>{{x.created_at}}</h5>
                        <div class="row">
                            <div class="col-sm-5">
                                {{ x.content }}
                            </div>
                        </div>
                    </div>
            
                </ul>
                <hr style="border-color:red;">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}