{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-5">
        <h1>Ini Halaman Profil</h1>
        <ul>
            <li>Nama: {{ profile_name }}</li>
            <li>NPM: {{ profile_npm }}</li>
            <li>Hobby: {{ profile_hobby }}</li>
            <li>Education: {{ profile_education }}</li>
            <li>Experience: {{ profile_experience }}</li>
        </ul>
    </div>
</div>

{% endblock %}